<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="web">

    <test name="TestWeb">
        <parameter name="browser" value="${browserWeb}"/>
        <parameter name="url" value="https://www.google.ru/"/>

        <classes>
            <class name="ru.esphere.tests.web.SearchTests"/>
        </classes>
    </test>

</suite>

